---
import App from '../App';
import '../index.css';
---

<html lang="zh-CN">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover" />
		<meta name="generator" content={Astro.generator} />
		<link rel="manifest" href="/manifest.webmanifest" />
		<meta name="apple-mobile-web-app-capable" content="yes" />
		<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
		<meta name="theme-color" content="#F4F3ED" />
		<title>糯糯专升本英语</title>
	</head>
	<body>
		<App client:only="react" />
	</body>
</html>

<style is:global>
  @import "tailwindcss";
</style>
